body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  letter-spacing: 0.05em;
  animation: scroll 100s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #111111;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}
@keyframes scroll {
  100% {
    background-position: 0px -400%;
  }
}

@media (prefers-reduced-motion) {
  body {
    animation: scroll 800s linear infinite;
  }
}
.radio-input {
  display: flex;
  height: 220px;
  align-items: center;
}

.glass {
  z-index: 2;
  height: 110%;
  width: 60px;
  margin-right: 1rem;
  padding: 8px;
  background-color: rgba(190, 189, 189, 0.5);
  border-radius: 35px;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 25px 50px -10px,
   rgba(0, 0, 0, 0.25) 0px 10px 30px -15px,
    rgba(10, 37, 64, 0.26) 0px -2px 6px 0px inset;
  backdrop-filter: blur(8px);
}

.glass-inner {
  width: 100%;
  height: 100%;
  border-color: rgba(245, 245, 245, 0.241);
  border-width: 6px;
  border-style: solid;
  border-radius: 30px
}

.selector {
  display: flex;
  flex-direction: column;
}

.choice {
  margin: 10px 0 10px 0;
  display: flex;
  align-items: center;
}

.choice > div {
  position: relative;
  width: 41px;
  height: 41px;
  margin-right: 15px;
  z-index: 0;
}

.choice-circle {
  appearance: none;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  border-width: 9px;
  border-style: solid;
  border-color: rgba(127, 127, 127, 0.8);
  cursor: pointer;
  box-shadow: 0px 0px 20px -13px gray,
  0px 0px 20px -14px gray inset;
}

.ball {
  z-index: 1;
  position: absolute;
  inset: 0px;
  transform: translateX(-75px);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
   rgba(0, 0, 0, 0.15) 0px -15px 15px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -40px 20px 0px inset,
     rgba(0, 0, 0, 0.06) 0px 2px 1px, 
     rgba(0, 0, 0, 0.09) 0px 4px 2px, 
     rgba(0, 0, 0, 0.09) 0px 8px 4px, 
     rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px,
       0px -1px 15px -8px rgba(0, 0, 0, 0.09);
  border-radius: 100%;
  transition: transform 800ms cubic-bezier(1,-0.4,0,1.4);
  background-color: rgb(111, 110, 110);
}

.choice-circle:checked + .ball {
  transform: translateX(0px);
}

.choice-name {
  color: #c56103;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: monospace;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 2.5%;
  flex-grow: 1;
  background-color: rgba(245, 245, 245, 0.89);
  padding: 0.5rem 1.75rem;
  margin-top: 2rem 0;
}

.headings {
  margin: 0.25rem;
  color: #c56103;
}
.left-side {
  display: grid;
  margin: 2rem;
  gap: 5rem
}
.left-upper {
  display: flex;
  flex-direction: column;
  gap: 2rem
}
.side {
  padding: 1rem;
}
.left-header {
  color: #36454f;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: stretch;
}
.left-lower {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
}
h1 {
  font-size: 2rem;
  text-align: center;
}
h2 {
  font-size: 1.25rem;
  text-align: justify;
  color: #36454f
}
h3 {
  font-size: 1.25rem;
  text-align: justify;
}
h4 {
  text-align: end;
  color: #36454f;
  font-size: 1.25rem;
}  
.customWorkout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  column-gap: 0.25rem;
  width: 100%;
}
.customWorkout p {
  border-radius: 1rem;
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  background-color: #36454f;
}
.customWorkoutHeading {
  text-align: center;
  color: #c56103;
  font-weight: 900;
}
.workoutIMG {
  display: grid;
  place-items: center;
  border-radius: 1rem;
}
.workoutBuilderButton {
  background: #1e1f1e;
  color: #efefff;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 10px #1e1f1e;
  transition: 0.3s;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 2rem 0
}
.workoutBuilderButton:hover {
  background: black;
  scale: 1.05;
  box-shadow: 0.25rem 0.25rem 2rem #c56103;
}
.workoutBuilderButton:active {
  background: #c56103;
  color: #1e1f1e;
  scale: 0.95;
  box-shadow: none
}


@media (min-width: 1000px) {
  h1 {
    font-size: 2.75rem;
    text-align: center;
  }
  h2 {
    font-size: 1.75rem;
    text-align: justify;
    color: #36454f
  }
  h3 {
    font-size: 1.75rem;
    text-align: justify;
  }
  h4 {
    text-align: end;
    color: #36454f;
    font-size: 1.5rem;
  }  
}


@media (min-width: 1200px) {
  body {
      margin: 0;
      padding: 0;
      display: grid;
      place-items: center;
      font-family: monospace;
      letter-spacing: 0.05em;
      animation: scroll 100s linear infinite;
      background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
        #111111;
      color: #eee;
      height: 100vh;
      min-width: 360px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      perspective: 1000px;
      perspective-origin: 50% 50%;
    }
    
    @keyframes scroll {
      100% {
        background-position: 0px -400%;
      }
    }
    
    @media (prefers-reduced-motion) {
      body {
        animation: scroll 800s linear infinite;
      }
    }
    .radio-input {
      display: flex;
      height: 220px;
      align-items: center;
    }

    .glass {
      z-index: 2;
      height: 110%;
      width: 95px;
      margin-right: 25px;
      padding: 8px;
      background-color: rgba(190, 189, 189, 0.5);
      border-radius: 35px;
      box-shadow: rgba(50, 50, 93, 0.2) 0px 25px 50px -10px,
       rgba(0, 0, 0, 0.25) 0px 10px 30px -15px,
        rgba(10, 37, 64, 0.26) 0px -2px 6px 0px inset;
      backdrop-filter: blur(8px);
    }

    .glass-inner {
      width: 100%;
      height: 100%;
      border-color: rgba(245, 245, 245, 0.241);
      border-width: 9px;
      border-style: solid;
      border-radius: 30px
    }

    .selector {
      display: flex;
      flex-direction: column;
    }

    .choice {
      margin: 10px 0 10px 0;
      display: flex;
      align-items: center;
    }

    .choice > div {
      position: relative;
      width: 41px;
      height: 41px;
      margin-right: 15px;
      z-index: 0;
    }

    .choice-circle {
      appearance: none;
      height: 100%;
      width: 100%;
      border-radius: 100%;
      border-width: 9px;
      border-style: solid;
      border-color: rgba(127, 127, 127, 0.8);
      cursor: pointer;
      box-shadow: 0px 0px 20px -13px gray,
      0px 0px 20px -14px gray inset;
    }

    .ball {
      z-index: 1;
      position: absolute;
      inset: 0px;
      transform: translateX(-95px);
      box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
       rgba(0, 0, 0, 0.15) 0px -15px 15px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -40px 20px 0px inset,
         rgba(0, 0, 0, 0.06) 0px 2px 1px, 
         rgba(0, 0, 0, 0.09) 0px 4px 2px, 
         rgba(0, 0, 0, 0.09) 0px 8px 4px, 
         rgba(0, 0, 0, 0.09) 0px 16px 8px,
          rgba(0, 0, 0, 0.09) 0px 32px 16px,
           0px -1px 15px -8px rgba(0, 0, 0, 0.09);
      border-radius: 100%;
      transition: transform 800ms cubic-bezier(1,-0.4,0,1.4);
      background-color: rgb(111, 110, 110);
    }

    .choice-circle:checked + .ball {
      transform: translateX(0px);
    }

    .choice-name {
      color: #c56103;
      font-size: 35px;
      font-weight: 900;
      font-family: monospace;
      cursor: pointer;
    }
    .main-container {
      display: flex;
      flex-direction: row-reverse;
      gap: 2.5%;
      flex-grow: 1;
      max-width: 75rem;
      background-color: rgba(245, 245, 245, 0.89);
      border-radius: 2rem;
      padding: 0.5rem 1.75rem;
      margin-top: 0;
    }
    .headings {
      margin: 1rem;
      color: #c56103;
      font-size: 1.5rem;
      font-weight: 900;
    }
    .left-side {
      display: grid;
      margin: 2rem;
      gap: 0
    }
    .left-upper {
      display: flex;
      flex-direction: row;
      gap: 2rem
    }
    .side {
      padding: 2rem;
    }
    .left-header {
      color: #36454f;
      font-size: 2.5rem;
      font-weight: 900;
      text-align: stretch;
    }
    .left-lower {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.75rem;
    }
    h1 {
      font-size: 3.75rem;
    }
    h2 {
      font-size: 1.75rem;
      text-align: justify;
      color: #36454f;
    }
    h3 {
      font-size: 1.75rem;
      text-align: justify;
    }
    h4 {
      text-align: end;
      color: #36454f;
    }  
    .customWorkout {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      column-gap: 0.25rem;
      width: 100%;
    }
    .customWorkout p {
      border-radius: 1rem;
      padding: 0.5rem;
      text-align: center;
      justify-content: center;
      font-weight: bold;
      font-size: 1rem;
      display: flex;
      align-items: center;
      background-color: #36454f;
    }
    .customWorkoutHeading {
      text-align: center;
      color: #c56103;
      font-weight: 900;
    }
    .workoutIMG {
      display: grid;
      place-items: center;
      border-radius: 1rem;
    }
    .workoutBuilderButton {
      background: #36454f;
      color: #efefff;
      padding: 0.75rem 1.5rem;
      border-radius: 1rem;
      box-shadow: 0.25rem 0.25rem 10px #36454f;
      transition: 0.3s;
      font-size: 1.25rem;
      font-weight: 600
    }
    .workoutBuilderButton:hover {
      background: black;
      scale: 1.05;
      box-shadow: 0.25rem 0.25rem 2rem #c56103;
    }
    .workoutBuilderButton:active {
      background: #c56103;
      color: #36454f;
      scale: 0.95;
      box-shadow: none
    }
}